---
import PostPreview from "@/components/blog/PostPreview.astro";
import { menuLinks } from "@/site-config";
import Column from "@/components/layout/Column.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import NahiyanKhanLogo from "@/assets/nahiyan_khan.svg?raw";
import CashAppLogo from "@/assets/cash_app.svg?raw";
import ADPLogo from "@/assets/adp.svg?raw";
import PearsonLogo from "@/assets/pearson.svg?raw";
import SocialList from "@/components/SocialList.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<Column gy bb>
		<div class="column-left">
			<div class="mb-8 w-11/12 text-textProminent">
				<Fragment set:html={NahiyanKhanLogo} />
			</div>
			<p class="subtitle-large mb-8 w-11/12">
				Am an engineer. Am a designer. Am both? Am neither? Definitions are arbitrary. Existential
				crisis is real. But 9 to 5, I lead design systems strategy and infrastructure to implement
				craft at scale.
			</p>
		</div>

		<div class="column-right">
			<p class="mb-7 h-[76px] content-end text-2xl font-extrabold">(na-he-yahn)</p>
			<SocialList />
		</div>
	</Column>

	<Column title="Experiences" gy />

	<Column gbxs>
		<div class="column-left">
			<div class="py-8">
				<div class="flex [&>svg]:w-16">
					<Fragment set:html={CashAppLogo} />
					<div class="ml-4">
						<p class="header-standard text-3xl leading-10">Tech Lead, Design Systems</p>
						<p class="header-standard text-xl">
							Cash App <span class="text-textSubtle"> | April 2022 - Current</span>
						</p>
					</div>
				</div>

				<div class="py-6 pr-10">
					<p class="mb-4">
						Brought design's high bar of craft to code and stood up Cash App's design system
						function. Set up cross-platform design infrastructures, brought parity between design
						and code vernacular closer, evangelized modular development, supported 40+ components
						being built and tested, and kicked off migration efforts to adopt the new system across
						145+ flows that cover 85% of app traffic.
					</p>
					<p>Exploring the intersection of AI and design tooling during down times.</p>
				</div>
			</div>
		</div>
		<div class="column-right">
			<div class="flex h-full w-full items-center">
				<div class="w-full bg-gray-100" style="aspect-ratio: 3/2;"></div>
			</div>
		</div>
	</Column>

	<Column gbxs>
		<div class="column-left">
			<div class="py-8">
				<div class="flex [&>svg]:w-16">
					<Fragment set:html={ADPLogo} />
					<div class="ml-4">
						<p class="header-standard text-3xl leading-10">Lead UX Engineer, Design Systems</p>
						<p class="header-standard text-xl">
							ADP <span class="text-textSubtle"> | March 2018 - April 2022</span>
						</p>
					</div>
				</div>

				<div class="py-6 pr-10">
					<p class="mb-4">
						Helped overhaul the design system of ADP's next generation suite of HR tools and built
						and launched a custom responsive design system documentation site with fuzzy search,
						demos, and content graphs.
					</p>
				</div>
			</div>
		</div>
		<div class="column-right">
			<div class="flex h-full w-full items-center">
				<div class="w-full bg-gray-100" style="aspect-ratio: 3/2;"></div>
			</div>
		</div>
	</Column>

	<Column gbxs>
		<div class="column-left">
			<div class="py-8">
				<div class="flex [&>svg]:w-16">
					<Fragment set:html={PearsonLogo} />
					<div class="ml-4">
						<p class="header-standard text-3xl leading-10">Product Designer</p>
						<p class="header-standard text-xl">
							Pearson <span class="text-textSubtle"> | May 2013 - March 2018</span>
						</p>
					</div>
				</div>

				<div class="py-6 pr-10">
					<p class="mb-4">
						Functioned as a code-first product designer and specialized in authoring the
						front-of-the-front-end of Pearson's certifications focused tooling.
					</p>
				</div>
			</div>
		</div>
		<div class="column-right">
			<div class="flex h-full w-full items-center">
				<div class="w-full bg-gray-100" style="aspect-ratio: 3/2;"></div>
			</div>
		</div>
	</Column>

	<Column gbxs bb>
		<div class="column-left">
			<div class="py-8">
				<div class="flex [&>svg]:w-16">
					<Fragment set:html={PearsonLogo} />
					<div class="ml-4">
						<p class="header-standard text-3xl leading-10">Graphic Designer</p>
						<p class="header-standard text-xl">
							Macalester College
							<span class="text-textSubtle"> | September 2010 - May 2013</span>
						</p>
					</div>
				</div>

				<div class="py-6 pr-10">
					<p class="mb-4">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
						incididunt.
					</p>
				</div>
			</div>
		</div>
		<div class="column-right">
			<div class="flex h-full w-full items-center">
				<div class="w-full bg-gray-100" style="aspect-ratio: 3/2;"></div>
			</div>
		</div>
	</Column>

	<Column title="Projects" gy />

	<Column>
		<div class="column-left h-96"></div>
		<div class="column-right h-96"></div>
	</Column>

	<Column bb>
		<div class="column-left h-96"></div>
		<div class="column-right h-96"></div>
	</Column>

	<Column title="Musings" gy />

	<Column>
		<div class="column-left h-96"></div>
		<div class="column-right h-96"></div>
	</Column>

	<Column>
		<div class="column-left h-96"></div>
		<div class="column-right h-96"></div>
	</Column>
</PageLayout>
