---
import BlockLogo from "@/assets/block.svg?raw";
import CashAppLogo from "@/assets/cash_app.svg?raw";
import ADPLogo from "@/assets/adp.svg?raw";
import PearsonLogo from "@/assets/pearson.svg?raw";
import MacalesterLogo from "@/assets/macalester.svg?raw";
import DesignXLogoWhite from "@/assets/designx_white.svg?raw";
import DesignXLogoDark from "@/assets/designx_dark.svg?raw";
import Section from "./Section.astro";
import { Icon } from "astro-icon/components";
import ExperienceSneak from "@/assets/experience.gif";
import Subtitle from "./Subtitle.astro";
---

<Section title="experience" subtitle="a.k.a the things I am more than sorta good at.">
	<div class="grid border-t px-8 sm:grid-cols-2 sm:divide-x">
		<div class="pt-16">
			<Subtitle title="current" />

			<div class="mb-12 space-y-12 pt-4">
				<div class="pr-0 sm:pr-12">
					<div class="mb-4 flex flex-col sm:flex-row">
						<div
							class="flex h-12 w-12 items-center justify-center overflow-hidden rounded-full border sm:h-16 sm:w-16 [&>svg]:w-6 sm:[&>svg]:w-8"
						>
							<Fragment set:html={BlockLogo} />
						</div>
						<div class="mt-3 sm:ml-4 sm:mt-0">
							<p class="header-standard">Principal Design Engineer / Applied AI</p>
							<p class="text-textDefault text-sm font-normal leading-[1.6] sm:text-base">
								Block <span class="text-textSubtle"> | Jan 2025 - Current</span>
							</p>
						</div>
					</div>

					<p class="text-textDefault leading-[1.6] sm:leading-[1.75]">
						brb. currently trying to make sense of non-deterministic outputs. 🤘🏽
					</p>
				</div>

				<div class="pr-0 sm:pr-12">
					<div class="mb-4 flex flex-col sm:flex-row [&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={CashAppLogo} />
						<div class="mt-3 sm:ml-4 sm:mt-0">
							<p class="header-standard">Staff Design Engineer / Design Systems</p>
							<p class="text-textDefault text-sm font-normal leading-[1.6] sm:text-base">
								Cash App <span class="text-textSubtle"> | April 2022 - Jan 2025</span>
							</p>
						</div>
					</div>

					<p class="text-textDefault leading-[1.6] sm:leading-[1.75]">
						stood up Cash App's design system function and drove adoption of the system - Arcade.
					</p>
				</div>
			</div>
		</div>

		<div class="sm:px-8 sm:pt-16">
			<Subtitle title="past" />

			<div class="mb-12 space-y-12 pt-4">
				<div class="">
					<div class="mb-4 flex flex-col sm:flex-row [&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={ADPLogo} />
						<div class="mt-3 sm:ml-4 sm:mt-0">
							<p class="header-standard">Senior Design Engineer / Design Systems</p>
							<p class="text-sm font-normal leading-[1.6] sm:text-base">
								ADP <span class="text-textSubtle"> | March 2018 - April 2022</span>
							</p>
						</div>
					</div>

					<p class="text-textDefault leading-[1.6] sm:leading-[1.75]">
						evolved ADP's server-driven design system - Beacon.
					</p>
				</div>

				<div class="">
					<div class="mb-4 flex flex-col sm:flex-row [&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={PearsonLogo} />
						<div class="mt-3 sm:ml-4 sm:mt-0">
							<p class="header-standard">Product Designer</p>
							<p class="text-sm font-normal leading-[1.6] sm:text-base">
								Pearson <span class="text-textSubtle"> | May 2013 - March 2018</span>
							</p>
						</div>
					</div>

					<p class="text-textDefault leading-[1.6] sm:leading-[1.75]">
						functioned as a hybrid product designer and front-of-the-front-end engineer.
					</p>
				</div>

				<div class="">
					<div class="mb-4 flex flex-col sm:flex-row [&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={MacalesterLogo} />
						<div class="mt-3 sm:ml-4 sm:mt-0">
							<p class="header-standard">Graphic Designer</p>
							<p class="text-sm font-normal leading-[1.6] sm:text-base">
								Macalester College
								<span class="text-textSubtle"> | September 2010 - May 2013</span>
							</p>
						</div>
					</div>

					<p class="text-textDefault leading-[1.6] sm:leading-[1.75]">
						designed marketing materials for print and web.
					</p>
				</div>
			</div>
		</div>
	</div>
</Section>
