---
import ADPLogo from "@/assets/adp.svg?raw";
import BlockLogo from "@/assets/block.svg?raw";
import CashAppLogo from "@/assets/cash_app.svg?raw";
import DesignXLogoDark from "@/assets/designx_dark.svg?raw";
import DesignXLogoWhite from "@/assets/designx_white.svg?raw";
import ExperienceSneak from "@/assets/experience.gif";
import MacalesterLogo from "@/assets/macalester.svg?raw";
import PearsonLogo from "@/assets/pearson.svg?raw";
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
import Subtitle from "./Subtitle.astro";
---

<Section title="experience" subtitle="a.k.a the things I am more than sorta good at.">
	<div class="grid px-8 pt-16">
		<Subtitle title="current" />

		<div class="mb-16 space-y-16 pt-8">
			<div class="pr-0 sm:pr-16">
				<div class="mb-8 flex flex-col items-center sm:flex-row">
					<div
						class="flex h-12 w-12 items-center justify-center overflow-hidden rounded-full border sm:h-16 sm:w-16 [&>svg]:w-6 sm:[&>svg]:w-8"
					>
						<Fragment set:html={BlockLogo} />
					</div>
					<p class="baseline-on-grid ml-8 text-sm">Principal Design Engineer @ Block</p>
				</div>
			</div>

			<div class="pr-0 sm:pr-16">
				<div class="mb-8 flex flex-col items-center sm:flex-row">
					<div class="[&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={CashAppLogo} />
					</div>
					<p class="baseline-on-grid ml-8 text-sm">Staff Design Engineer @ Cash App</p>
				</div>
			</div>
		</div>

		<Subtitle title="past" />

		<div class="mb-16 space-y-16 pt-8">
			<div class="">
				<div class="mb-8 flex flex-col items-center sm:flex-row">
					<div class="[&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={ADPLogo} />
					</div>
					<p class="baseline-on-grid ml-8 text-sm">Senior Design Engineer @ ADP</p>
				</div>
			</div>

			<div class="">
				<div class="mb-8 flex flex-col items-center sm:flex-row">
					<div class="[&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={PearsonLogo} />
					</div>
					<p class="baseline-on-grid ml-8 text-sm">Product Designer @ Pearson</p>
				</div>
			</div>

			<div class="">
				<div class="mb-8 flex flex-col items-center sm:flex-row">
					<div class="[&>svg]:w-12 sm:[&>svg]:w-16">
						<Fragment set:html={MacalesterLogo} />
					</div>
					<p class="baseline-on-grid ml-8 text-sm">Graphic Designer @ Macalester College</p>
				</div>
			</div>
		</div>
	</div>
</Section>
