---
import Nahiyan from "@/assets/nahiyan.svg?raw";
import { Icon } from "astro-icon/components";
const introLineRef = "introLineRef";
---

<div class="flex flex-col items-center justify-center">
	<div class="relative p-10 [&_svg]:ml-[-1px] [&_svg]:mr-[-1px] [&_svg]:h-full [&_svg]:w-full">
		<Fragment set:html={Nahiyan} />
	</div>
	<div
		class="relative flex h-8 w-full items-center px-10 sm:h-12"
		x-data="{ inview: false, ratio: 1 }"
		x-ref={introLineRef}
		@scroll.window=`inview = $refs.${introLineRef}.getBoundingClientRect().top <= (window.innerHeight * 9/10) && $refs.${introLineRef}.getBoundingClientRect().top >= 50`
		x-init=`inview = $refs.${introLineRef}.getBoundingClientRect().top <= (window.innerHeight * 9/10) && $refs.${introLineRef}.getBoundingClientRect().top >= 50, ratio = window.innerWidth < 1024 ? 2 : 1`
		@resize.window=`ratio = window.innerWidth < 1024 ? 2 : 1`
	>
		<div class="absolute left-0 top-0 h-[1px] w-full bg-divider transition-all"></div>
		<div class="absolute bottom-0 left-0 h-[1px] w-full bg-divider transition-all"></div>

		<p class="subtitle-large">nahiyan</p>

		<div class="absolute right-10 h-12 w-12 overflow-hidden rounded-full sm:mr-0 sm:h-16 sm:w-16">
			<a
				class="flex h-full w-full items-center justify-center rounded-full border bg-bgColor p-2 transition-all [&::after]:absolute [&::after]:h-12 [&::after]:w-12 [&::after]:origin-center [&::after]:rounded-full [&::after]:border [&::after]:border-transparent [&::after]:duration-300 [&::after]:content-[''] hover:[&::after]:scale-75 hover:[&::after]:border-divider dark:hover:[&::after]:border-divider [&::after]:sm:h-16 [&::after]:sm:w-16"
				type="button"
				x-data
				@click="$store.theme.toggleMode()"
			>
				<Icon
					aria-hidden="true"
					class="h-5 w-5 transition-all duration-300 dark:hidden sm:h-7 sm:w-7"
					focusable="false"
					name="solar:moon-bold-duotone"
				/>
				<Icon
					aria-hidden="true"
					class="hidden h-5 w-5 transition-all duration-300 dark:block sm:h-7 sm:w-7"
					focusable="false"
					name="solar:sun-bold-duotone"
				/>
			</a>
		</div>
	</div>
</div>
