---
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/rubik-mono-one";
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";
import { ViewTransitions } from "astro:transitions";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<ViewTransitions />
	</head>
	<body class="bg-bgColor text-sm transition-colors duration-300 sm:text-base sm:leading-[1.75]">
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main" class="flex grid min-h-screen flex-row px-0 pt-12 tracking-wider sm:pt-24">
			<slot />
		</main>
		<Footer />
	</body>
</html>
