---
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/rubik-mono-one";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@/components/BaseHead.astro";
import CursorEffect from "@/components/CursorEffect.astro";
import PowerGlitchEffects from "@/components/PowerGlitchEffects.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<!-- <ViewTransitions /> -->
	</head>
	<body class="relative bg-bgColorInverse text-sm font-light sm:text-base sm:leading-[1.75]">
		<div class="noise"></div>
		<ThemeProvider />
		<PowerGlitchEffects />
		<!-- <CursorEffect /> -->
		<SkipLink />
		<!-- <Header /> -->
		<main x-data id="main" class="origin-center tracking-wider">
			<div class="m-2 overflow-hidden rounded-md bg-bgColor sm:m-8">
				<div class="rules-horizontal">
					<slot />
				</div>
			</div>
		</main>
	</body>
</html>

<style>
	[x-cloak] {
		display: none !important;
	}
</style>
