---
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/rubik-mono-one";
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";
import { ViewTransitions } from "astro:transitions";
import Settings from "@/components/Settings.astro";
import Lines from "@/components/Lines.astro";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<ViewTransitions />
	</head>
	<body
		class="bg-bgColor text-sm font-light [transition:all_.3s_cubic-bezier(0.55,0,1,0.45)] sm:text-base sm:leading-[1.75]"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main
			x-data
			id="main"
			class="min-h-screen w-full pt-12 tracking-wider [transition:all_.3s_cubic-bezier(0.55,0,1,0.45)] sm:pt-24"
			:style="$store.settings.open && { transform: `translateX(-320px)` }"
		>
			<div
				class="container mx-auto flex flex-col"
				x-ref="container"
				x-init="$store.container.width = $refs.container.getBoundingClientRect().width"
				x-resize="$store.container.width = $width"
			>
				<slot />
			</div>
		</main>
		<Settings />
		<Footer />
	</body>
</html>

<style>
	[x-cloak] {
		display: none !important;
	}
</style>
